    <app-menu></app-menu>
    <ion-content class="content">
        <ion-title>
            <h2 class="texto">Fazendo uma API</h2>
        </ion-title>
        <div class="posicao">
            <ion-img [src]="imagem"
        *ngIf="imagem" class="imagem"></ion-img>
        </div>
        <div class="botao">
            <ion-button (click)="cat()"
            color="success"
            *ngIf="!imagem"
        >Clique aqui</ion-button>
        <ion-button color="success" (click)="mudar()" *ngIf="imagem">
            Mudar a imagem
        </ion-button>
        <ion-button (click)="remove()"
            *ngIf="imagem" color="danger"
        >Remover</ion-button>
        </div>

    </ion-content>
    <app-rodape></app-rodape>