    <app-menu></app-menu>
        <ion-content>
            <div class="content">
                <ion-img 
                src="assets/imagem/fotominha.jpg" 
                class="image"></ion-img>
                <div class="sobre">
                    <b>Meu nome é : Pedro Henrique Sousa dos santos <br>
                Estudo no centro universitario Augusto Mota <br>
            De manhã às 8:30 <br>
        O código da turma é ADS0301M</b>
                </div>
            </div>
        </ion-content>
    <app-rodape></app-rodape>