.content{
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    height: 200px;
    width: 200px;
}
.sobre{
    margin: 5px;
}